/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* sidan */
body {
background-image: url(bilder/jan-kronies-K-x7h4NXtAY-unsplash.jpg);
}

.kontainer {
    width: 800px;
    margin: auto;
    padding: 20px;

}

/* Layouten */
.kontainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
        gap: 20px;
}

header {
    grid-area: sidhuvud;
    padding: 20px;
}

main {
    grid-area: artiklarna;
   background-color: #fff;
    border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}

aside {
    grid-area: sidebar;
background-color: #fff;
border-radius: 10px;
padding: 20px;
}

footer {
    grid-area: sidfot;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}





/* sidhuvud */
header {}

header h1 {
    font-size: 80px;
    color: #fff;
}

header h2 {
    color: #fff;
}

/* menyn */
header nav {
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,164,30,1) 42%, rgba(14,174,75,1) 60%, rgba(5,199,193,1) 100%);
    padding: 20px;
font-family: Arial, Helvetica, sans-serif;

}


header nav a {
    color: #fff;
    text-decoration: none;
    padding:  20px 10px;
}

header nav a.aktiv {
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(150,228,143,1) 59%, rgba(0,212,255,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}


header nav a:hover {
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(150,228,143,1) 59%, rgba(0,212,255,1) 100%);
}

/* sidans innehåll - artikla, text mm */
main {}

main article {}

main article h3 {}

main article figure {
    width: 50%;
    margin: auto;
    padding: 30px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
}

main article figure img {}

main article figure figcaption {}


/* sidobar  */
aside {}

aside h4 {}

aside p {}

/* sidfotter */

footer {}

footer p {}