body {
    background-image: url("./bilder/image-24.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "playfair display";
    width: 200px;
    margin-left: 100px;

}

p {
    background-color: #00ffff36;
    width: 500px;
    padding: 20px;
}

img {}

a {}